spring:
  application:
    name: auth
  datasource:
    url: jdbc:h2:mem:mydb
    username: user
    password: password
    driverClassName: org.h2.Driver
    jpa:
      database-platform: org.hibernate.dialect.H2Dialect


  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    sql:
      init:
        mode: always
    h2:
      console:
        enabled: true
        path: /h2-console
        settings:
          trace: false
          web-allow-others: false

  config:
    import: optional:file:.env


security:
  jwt:
    secret-key: ${JWT.SECURITY.KEY}
    expiration-time: ${JWT.EXPIRATION.TIME}
    app-name : "your-app"